    .skip-link {
    position: absolute;
    top: -40px;
    }

    .skip-link:focus {
    top: 0;
    }

    html, body {
      margin: 0;
      padding: 0;
    }

*{
    box-sizing: border-box;
}

    header {
    display: flex;
    background-color: #1e6614;
    justify-items: center;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    flex-direction: column;   
}
   
    

    #overskrift {
        color: rgb(255, 0, 0);
        margin: 0;
        padding: 0;
    }

    div#Logo {
        display: grid;
       /* background-image: ; legg til SVG senere*/
        font-size: 24px;
        font-weight: bold;
        }
    nav ul {
        display: flex;
        gap: 12px;

        list-style: none;
        margin: 0;
        padding: 0;
    }
        
    
       
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* Legg til Hamburger-meny */

    .info {
        display: grid;
        grid-area: info;
                }
    
    #explation{    
        display: grid;
        align-self: flex-start;
        justify-content: flex-start;
        font-size: 18px;
        padding: 20px;
        
        
    }
    .info h2{
        padding-left: 10px;
    }
    .info li{
        padding: 2px;
    }
    svg{
        
    }

.content-grid{
display: grid;
grid-template-columns: 10fr 12fr;
grid-template-rows: auto 
                    4fr 
                    16fr 
                    2fr;
grid-template-areas: "header header"
                        "info info"
                        "register sidebar"
                        "footer footer";
min-height: 100vh;
}

.header{
    grid-area: header;
}

    form {
    display: grid;
    justify-content: flex-end;
    }

.search-container {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
}
  input[type=search] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  button {
    padding: 8px 8px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: #c9e1fb;
  }

.info{
    grid-area: info;
    background-color: rgb(229, 229, 255);
}

.register{
    grid-area: register;
    background-color: rgb(215, 215, 255);
}

.sidebar{
    grid-area: sidebar;
    background-color: rgb(239, 239, 255);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2%;
    font-family: Arial, Helvetica, sans-serif ;
}

.footer{
    grid-area: footer;
    background-color: rgb(92, 92, 92);
}

.sidebar > section{
    background-color: white;
    border-radius: 8px;
    padding: 2%;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.sidebar h4{
    margin: 0em 0 0em 0;
}

.speakers{
    display: flex;
    flex-direction: row;
    gap: 4%;
    margin-top: 1em;
}

.speakers div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    font-size: 0.8em;
}
.speakers img{
    background-color: black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.speakers p{
     margin: 0;
}

    @media (max-width: 360px){  /* Mobile */
        nav ul {
            display: flex;
        }
    }
    @media screen and (min-width: 768px){  /* Tablet */
        nav ul {
            display: flex;
            gap: 10px;
        }
    }
    @media screen and  (min-width:1024px){  /* Desktop */
        nav ul {
            display: flex;
            gap: 20px;
        }
    }