    .skip-content {
        position: absolute;
        left: -10000px;
        top: auto;
        width: 1px;
        height: 1px;
        overflow: hidden;
    }

    .skip-content:focus {
        position: static;
        width: auto;
        height: auto;
    }
html, body {
      margin: 0;
      padding: 0;
    }

*{
    box-sizing: border-box;
}

    header {
    display: flex;
    background-color: #1e6614;
    background-size: cover;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
    flex-direction: column;   
}
    
    div#Logo {
        display: grid;
       /* background-image: ; legg til SVG senere*/
        font-size: 24px;
        font-weight: bold;
        }
    nav ul {
        display: grid;
        list-style-type: none;
        align-items: flex-end;
        justify-content: flex-end;
        grid-column-end: auto;
        
    }
    
    
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    /* Legg til Hamburger-meny */


.content-grid{
display: grid;
grid-template-columns: 10fr 12fr;
grid-template-rows: auto 
                    4fr 
                    16fr 
                    2fr;
grid-template-areas: "header header"
                        "info info"
                        "register sidebar"
                        "footer footer";
min-height: 100vh;
}

.header{
    grid-area: header;
}

.search-container {
    display: flex;
    gap: 5px;
  }
  input[type=search] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  button {
    padding: 8px 8px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  button:hover {
    background-color: #c9e1fb;
  }

.info{
    grid-area: info;
    background-color: rgb(229, 229, 255);
}

.register{
    grid-area: register;
    background-color: rgb(215, 215, 255);
}

.sidebar{
    grid-area: sidebar;
    background-color: rgb(239, 239, 255);
}

.footer{
    grid-area: footer;
    background-color: rgb(92, 92, 92);
}

.speakers{
    display: flex;
    flex-direction: row;
    gap: 5%;
}

.speakers div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.speakers img{
    background-color: black;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

    @media (max-width: 360px){  /* Mobile */
        nav ul {
            display: flex;
        }
    }
    @media screen and (min-width: 768px){  /* Tablet */
        nav ul {
            display: flex;
            gap: 10px;
        }
    }
    @media screen and  (min-width:1024px){  /* Desktop */
        nav ul {
            display: flex;
            gap: 20px;
        }
    }