html, body {
      margin: 0;
      padding: 0;
    }

*{
    box-sizing: border-box;
}

    header {
    display: flex;
    background-color: #1e6614;
    background-size: cover;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
        }
    
    div#Logo {
        display: grid;
       /* background-image: ; legg til SVG senere*/
        font-size: 24px;
        font-weight: bold;
        }
    nav ul {
        display: grid;
        list-style-type: none;
        align-items: flex-end;
        justify-content: flex-end;
        
    }
    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    

    @media (max-width: 480px){
        nav ul {
            display: none;
        }
    }
    @media (min-width:481px) and (max-width:1024px){
        nav ul {
            display: flex;
            gap: 10px;
        }
    }
    @media (min-width:1025px){
        nav ul {
            display: flex;
            gap: 20px;
        }
    }