html, body {
      margin: 0;
      padding: 0;
    }

*{
    box-sizing: border-box;
}

    header {
    display: flex;
    background-color: #1e6614;
    background-size: cover;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
        }
    
    div#Logo {
        display: flex;
        flex: 1;
       /* background-image: ; legg til SVG senere*/
        font-size: 24px;
        font-weight: bold;
        }

    